@media (max-width: 1109px) {
    .promo {
        &__header {
            justify-content: space-around;
        }
        &__logo {
            position: relative;
            left: 0;
        }
    }
        .section-header {
            width: 90%;
            margin: 0 auto;
        }
    .carousel {
        &__inner {
            width: 85%;
            margin: 0 auto;
        }
        .slick-list {
            width: 65%;
            margin: 0 auto;
        }
    }
    .catalog {
        &__items {
            justify-content: space-evenly;
        }
        &__item {
            width: 300px;
            height: 250px;
        }
        &__descr {
            bottom: 58px;
            width: 226px;
            min-height: 74px;
            font-size: 16px;
        }
    }
    .rent {
        &__info {
            font-size: 15px;
            width: 290px;
        }
        &__item {
            width: 650px;
        }
        &__content {
            justify-content: space-evenly;
        }
    }
    .articles {
        justify-content: space-evenly;
        &__other-block {
            width: 450px;
        }
        margin-top: 50px;
        &__latest-news {
            width: 500px;
            height: 220px;
            img {
                width: 220px;
                height: 220px;
            }
        }
        &__data {
            p {
                margin: 20px 0;
            }
        }
        &__previous-news {
            width: 220px;
            height: 220px;
            img {
                width: 115px;
                height: 100px;
            }
        }
    }
}

@media (max-width: 991px) {
    .promo {
        &__decor-item {
            width: 50%;
        }
        .content {
            padding-left: 95px;
        }
    }
    .projects {
        &__descr {
            width: 220px;
            height: 100px;
        }
    }
    .carousel {
        &__inner {
            width: 95%;
        }
        .slick-list {
            width: 85%;
        }
    }
    .catalog {
        &__items {
            flex-direction: column;
            align-items: center;
            a {
                margin-top: 15px;
            }
        }
        &__item {
            width: 424px;
            height: 360px;
        }
    }
    .rent {
        &__content {
            flex-direction: column;
            justify-content: space-around;
        }
        &__info {
            margin-bottom: 30px;
        }
    }
    .articles {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__other-block {
            margin-top: 50px;
            width: 540px;
        }
        &__latest-news {
            width: 540px;
            height: 242px;
            img {
                width: 255px;
                height: 242px;
            }
        }
        &__data {
            p {
                margin: 20px 0;
            }
        }
        .button {
            position: relative;
            top: 50px;
        }
    }
}

@media (max-width: 767px) {
    .promo {
        &__hamburger {
            display: block;
        }
        .content {
            padding-left: 15px;
        }
    }
    .projects {
        padding-top: 75px;
    }
    .carousel {
        &__inner {
            width: 95%;
        }
        .slick-list {
            width: 85%;
        }
    }
    .rent {
        &__item {
            width: 550px;
            h3 {
                font-size: 16px;
            }
        }
        &__carousel {
            .slick-slide {
                img {
                    width: 200px;
                    height: 198px;
                }
            }
            h4 {
                font-size: 12px;
            }
            ul {
                font-size: 11px;
            }
        }
        &__description {
            ul {
                li {
                    margin-top: 15px;
                }
            }
        }
    }
}

@media (max-width: 650px) {
    .promo {
        &__nav {
            width: 80%;
        }
        // &__info {
        //     width: 100%;
        //     padding: 0 15px 0 15px;
        // }
        &__title {
            font-size: 35px;
        }
        &__descr {
            font-size: 14px;
        }
    }

    .decor-line {
        width: 80px;
    }
    .title {
        font-size: 21px;
        &_small {
            font-size: 12px;
        }
    }

    .projects {
        padding-top: 75px;
        &__descr {
            padding: 12.5px 12.5px;
            width: 160px;
            height: 75px;
            p {
                margin-top: 10px;
                font-size: 10px;
            }
        }
    }

    .carousel {
        &__inner {
            width: 100%;
        }
        .slick-list {
            width: 100%;
        }
    }
    .catalog {
        &__item {
            width: 280px;
            height: 240px;
        }
    }
    .rent {
        &__item {
            width: 424px;
            padding: 15px;
            h3 {
                font-size: 12px;
                text-align: center;
                margin-bottom: 10px;
            }
        }
        &__carousel {
            .slick-slide {
                img {
                    width: 180px;
                    height: 178px;
                }
            }
            h4 {
                font-size: 12px;
            }
            ul {
                font-size: 11px;
            }
        }
        &__description {
            ul {
                padding-right: 10px;
                li {
                    margin-top: 10px;
                }
            }
        }
    }
    .articles {
        &__other-block {
            margin-top: 50px;
            width: 410px;
            flex-direction: column;
            align-items: center;
        }
        &__latest-news {
            width: 424px;
            height: auto;
            justify-content: space-evenly;
            img {
                width: 160px;
                height: 160px;
            }
        }
        &__data {
            width: 200px;
            p {
                margin: 5px 0;
                font-size: 11px;
            }
        }
    }
}

@media (max-width: 424px) {
    .title {
        font-size: 19px;
    }
    
    .rent {
        &__info {
            width: 300px;
            padding: 5px;
            font-size: 13px;
        }
        &__item {
            width: 300px;
            padding: 0;
            padding-top: 10px;
        }
        &__carousel {
            .slick-slide {
                flex-direction: column;
                align-items: center;
            }
        }
    }
    .news {
        .button {
            position: absolute;
            top: 990px;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .articles {
        &__other-block {
            margin: 0 auto;
            margin-top: 50px;
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
        &__latest-news {
            width: 220px;
            margin: 0 auto;
            height: auto;
            flex-direction: column;
            img {
                width: 200px;
                height: 200px;
            }
        }
    }
}

@media (max-width: 376px) {
    .decor-line {
        width: 60px;
    }
    .title {
        font-size: 14px;
    }
}