.hamburger {
    display: block;
    width: 30px;
    height: 21px;
    &__item {
        display: block;
        height: 2px;
        width: 100%;
        background-color: #fff;
        margin-bottom: 2px;
        transition: 0.5s all;
    }
}
