.projects {
    position: relative;
    // min-height: 820px;
    padding-top: 150px;
    a {
        color: #000;
    }
    &__descr {
        width: 250px;
        min-height: 110px;
        padding: 20px 25px;
        position: absolute;
        right: 8%;
        bottom: 8%;
        background-color: #FFFFFF;
        opacity: .6;
        transition: .2s all;
        &:hover {
            opacity: 1;
            transition: .5s all;
        }
        p {
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            margin-top: 14px;
        }
    }
}