.promo {
    &__header {
        position: relative;
        min-height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba($color: #005BC1, $alpha: .6);
    }
}