.projects {
    &__header {
        display: flex;
        justify-content: space-between;
        // border-top: 1px solid gray;
        .box-left {
            min-width: 345px;
            display: flex;
            justify-content: space-between;
        }
    }
}