.promo {
    &__info {
        position: relative;
        z-index: 1;
        width: 635px;
        margin: 0 auto;
        margin-top: 202px;
        display: flex;
        flex-direction: column;
    }
}