.catalog {
    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        a {
            display: block;
            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }
}