.articles {
    &__previous-news {
        width: 225px;
        height: 242px;
        h3 {
            font-family: "Oswald";
            font-weight: 400;
            font-size: 14px;
            text-transform: uppercase;
        }
        p {
            margin: 20px 0;
            font-family: "Open Sans";
            font-weight: 300;
            font-size: 14px;
        }
        div {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
        img {
            display: block;
            width: 128px;
            height: 115px;
        }
        time {
            font-family: "Open Sans";
            font-size: 14px;
            margin-top: 3px;
        }
    }
}