.promo {
    &__decor-item {
        // position: absolute;
        // top: 0;
        //left: 405px;
        width: 444px;
        height: 100%;
        background-color: rgba($color: #005BC1, $alpha: .6);
        background-size: 50%;
    }
}