.button {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    width: 190px;
    height: 51px;
    background-color: $main-blue;
}