.promo {
    &__nav {
        min-width: 453px;
        font-family: open-sans, sans-serif;
        top: 0;
        ul {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            li {
                a {
                    text-decoration: none;
                    color: #FFFFFF;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
    }
}